<a href="https://colab.research.google.com/github/D-Sritha-D/AI_ML/blob/main/Functions_Patterns_MathModule.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def chocolates():
  print("dairymilk")
  print("snickers")
  print("milkybar")

chocolates()
print("kitkat")

dairymilk
snickers
milkybar
kitkat

In [ ]:
def number(b):
  if a>=5:
    print("Good")
  else:
    print("Bad")

b = 5
number(b)
b = 10
number(b)
b = 1
number(b)

Bad
Bad
Bad

In [ ]:
def number(a,b):
  print(a)
  print(b)

a = 5
b = 6
number(a,b)

5
6

In [ ]:
# Write a function to calculate the grades of a student based on their marks
def grades(marks):
  if marks>= 90 and marks <=100:
    print("Grade is O")

for i in range(10):
  x = int(input("Enter your marks: "))
  grades(x)

In [ ]:
import math

# Constants
print("Value of pi:", math.pi)
print("Value of e:", math.e)

# Basic mathematical functions
print("Square root of 16:", math.sqrt(16))
print("Absolute value of -5:", math.fabs(-5))
print("Factorial of 5:", math.factorial(5))
print("Power of 2 to 3:", math.pow(2, 3))
print("Logarithm of 10 to the base 2:", math.log2(10))
print("Logarithm of 10 to the base 10:", math.log10(10))
print("Natural logarithm of 10:", math.log(10))
print("Exponential of 2:", math.exp(2))

# Trigonometric functions (angles in radians)
print("Sine of 0 radians:", math.sin(0))
print("Cosine of pi radians:", math.cos(math.pi))
print("Tangent of pi/4 radians:", math.tan(math.pi/4))
print("Arcsine of 0.5:", math.asin(0.5))
print("Arccosine of 0.5:", math.acos(0.5))
print("Arctangent of 1:", math.atan(1))
print("Convert radians to degrees (pi/2):", math.degrees(math.pi/2))
print("Convert degrees to radians (90):", math.radians(90))

Value of pi: 3.141592653589793
Value of e: 2.718281828459045
Square root of 16: 4.0
Absolute value of -5: 5.0
Factorial of 5: 120
Power of 2 to 3: 8.0
Logarithm of 10 to the base 2: 3.321928094887362
Logarithm of 10 to the base 10: 1.0
Natural logarithm of 10: 2.302585092994046
Exponential of 2: 7.38905609893065
Sine of 0 radians: 0.0
Cosine of pi radians: -1.0
Tangent of pi/4 radians: 0.9999999999999999
Arcsine of 0.5: 0.5235987755982989
Arccosine of 0.5: 1.0471975511965979
Arctangent of 1: 0.7853981633974483
Convert radians to degrees (pi/2): 90.0
Convert degrees to radians (90): 1.5707963267948966

In [ ]:
count = 1
for i in range(1,5):
  for j in range(i):
    print(count, end=" ")
    count += 1
  print()

1
2 3
4 5 6
7 8 9 10

In [2]:
for i in range(4):
    for j in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [1]:
x = int(input("Enter a number"))
for i in range(x):
    for j in range(x):
        if i == 0 or i == x-1 or j == 0 or j == x-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter a number4
* * * *
*     *
*     *
* * * *

In [3]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [5]:
rows = 4

for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")

    for k in range(2 * i + 1):
        print("*", end="")
    print()

   *
  ***
 *****
*******