<a href="https://colab.research.google.com/github/D-Sritha-D/AI_ML/blob/main/Lists_Sets_Dicts_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [3]:
# Accessing elements in a list
print(fruits[0])
print(fruits[1])
print(fruits[-1])

apple
banana
cherry

In [4]:
# Modifying elements in a list
fruits[1] = "orange"
print(fruits)

['apple', 'orange', 'cherry']

In [5]:
# Adding elements to a list
fruits.append("grape")
print(fruits)

fruits.insert(1, "kiwi")
print(fruits)

['apple', 'orange', 'cherry', 'grape']
['apple', 'kiwi', 'orange', 'cherry', 'grape']

In [6]:
# Removing elements from a list
fruits.remove("apple")
print(fruits)

popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

['kiwi', 'orange', 'cherry', 'grape']
grape
['kiwi', 'orange', 'cherry']

In [7]:
# List length
print(len(fruits))

3

In [8]:
# Sorting a list
fruits.sort()
print(fruits)

['cherry', 'kiwi', 'orange']

In [9]:
# Reversing a list
fruits.reverse()
print(fruits)

['orange', 'kiwi', 'cherry']

In [10]:
n = fruits
fruits.pop()
print(n)
print(fruits)

['orange', 'kiwi']
['orange', 'kiwi']

In [11]:
# Copying a list
fruits_copy = fruits.copy()
fruits.pop()
print(fruits_copy)
print(fruits)

['orange', 'kiwi']
['orange']

In [12]:
# Clearing a list
fruits.clear()
print(fruits)

[]

In [25]:
# Print first half ascending and second half descending
n = [3, 5, 8, 21, 13, 1, 5, 6, 18, 4]
num1 = n[0:5]
num1.sort()
num2 = n[5:10]
num2.sort(reverse  =True)
num1 += num2
print(num1)

[3, 5, 8, 13, 21]
[18, 6, 5, 4, 1]
[3, 5, 8, 13, 21, 18, 6, 5, 4, 1]

In [27]:
n = [3, 5, 8, 21, 13, 1, 5, 6, 18, 4]
print(n[0:10:2])

[3, 8, 13, 5, 18]

In [34]:
print(n[-8:-3:2])

[8, 13, 5]

In [36]:
# Create a set
fruits = {"apple", "banana", "cherry"}

# Add an element to a set
fruits.add("orange")

# Remove an element from a set
fruits.remove("banana")

print(fruits)

{'orange', 'apple', 'cherry'}

In [ ]:
# Check if an element is in a set
print("apple" in fruits)

# Get the length of a set
print(len(fruits))

# Iterate over a set
for fruit in fruits:
    print(fruit)

In [44]:
# Perform set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [45]:
# Union of two sets
union_set = set1.union(set2)
print(union_set)

# Intersection of two sets
intersection_set = set1.intersection(set2)
print(intersection_set)

# Difference of two sets
difference_set = set2.difference(set1)
print(difference_set)

# Check if a set is a subset of another set
is_subset = set1.issubset(set2)
print(is_subset)

# Check if a set is a superset of another set
is_superset = set1.issuperset(set2)
print(is_superset)

# Remove all elements from a set
fruits.clear()
print(fruits)

{1, 2, 3, 4, 5}
{3}
{4, 5}
False
False
set()

In [47]:
# Print number of distinct elements in a list of values
n = [3, 5, 6, 3, 3, 15, 5, 5, 6, 3, 6, 1]
x = set(n)
print(x)

{1, 3, 5, 6, 15}

In [48]:
# Find the sum of even values in a list
x = [1, 32, 24, 13, 97, 1, 8, 14 , 99, 34, 5, 56, 8, 23]
sum = 0
for i in x:
  if i%2 == 0:
    sum += i
print(sum)

176

In [53]:
# Create a dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
# Print the original dictionary
print("Original Dictionary:", my_dict)

Original Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [54]:
# Accessing values
print("Name:", my_dict["name"])
print("Age:", my_dict.get("age"))

Name: John
Age: 30

In [55]:
# Updating values
my_dict["age"] = 32
print("Updated Dictionary:", my_dict)

Updated Dictionary: {'name': 'John', 'age': 32, 'city': 'New York'}

In [56]:
# Adding new key-value pairs
my_dict["occupation"] = "Engineer"
print("Dictionary after adding a new key-value pair:", my_dict)

Dictionary after adding a new key-value pair: {'name': 'John', 'age': 32, 'city': 'New York', 'occupation': 'Engineer'}

In [ ]:
# Removing key-value pairs
my_dict.pop("city")
print("Dictionary after removing a key-value pair:", my_dict)

In [57]:
# Checking if a key exists
if "age" in my_dict:
    print("Age exists in the dictionary")

Age exists in the dictionary

In [61]:
# Iterating over keys
print("Keys:")
for value in my_dict.values():
    print(value)

Keys:
John
32
New York
Engineer

In [ ]:
# Iterating over values
print("Values:")
for value in my_dict.values():
    print(value)

In [62]:
# Iterating over items (key-value pairs)
print("Items:")
for key, value in my_dict.items():
    print(key, ":", value)

Items:
name : John
age : 32
city : New York
occupation : Engineer

In [63]:
# Clearing the dictionary
my_dict.clear()
print("Dictionary after clearing all the elements:", my_dict)

Dictionary after clearing all the elements: {}

In [78]:
x = [1, 32, 24, 13, 97, 1, 8, 14 , 99, 34, 5, 56, 8, 23]
for i in range(len(x)):
  if x[i]%2 == 0:
    for j in range(i+1, len(x)):
      if x[j]%2 == 1:
        x[i] = x[j]
        break
  else:
    for j in range(i+1, len(x)):
      if x[j]%2 == 0:
        x[i] = x[j]
        break
print(x)

[32, 13, 13, 8, 8, 8, 99, 99, 34, 5, 56, 23, 23, 23]

In [74]:
# Frequency of elements in array
x = [3, 5, 7, 3, 5, 7, 7, 7, 3, 5, 7, 3]
distinct = set(x)
dict = {}
for i in distinct:
  dict[i] = 0
for i in x:
  dict[i] += 1
print(dict)

{3: 4, 5: 3, 7: 5}

In [77]:
# Find the sum and mutliply.
x = [3, 6, 8, 21, 5, 7, 24, 31, 0, 61]
new_list = []
final = []
for i in range(len(x)-1):
  new_list.append(x[i]+x[i+1])
for i in range(len(new_list)-1):
  final.append(new_list[i]*new_list[i+1])
sum = 0
for i in final:
  sum += i
print(new_list)
print(final)
print(sum)

[9, 14, 29, 26, 12, 31, 55, 31, 61]
[126, 406, 754, 312, 372, 1705, 1705, 1891]
7271

In [85]:
string = "Pragathi and Kavya like to watch movies."

print("Original String:", string)
print("Length:", len(string))
print("Upper Case:", string.upper())
print("Lower Case:", string.lower())
print("Title Case:", string.title())

print("Swap Case:", string.swapcase())
print("Is Upper Case:", string.isupper())
print("Is Lower Case:", string.islower())
print("Is Title Case:", string.istitle())
print("Is Numeric:", string.isnumeric())

print("Is Alphanumeric:", string.isalnum())
print("Starts With 'Hello':", string.startswith("Hello"))
print("Ends With 'World!':", string.endswith("World!"))
print("Count of 'l':", string.count("l"))
print("Index of 'o':", string.index("o"))
print("Replace 'Hello' with 'Hi':", string.replace("Hello", "Hi"))
print("Split by ',':", string.split(','))
print("Joined with '-':", "-".join(string.split())) #lstrip, rstrip

Original String: Pragathi and Kavya like to watch movies.
Length: 40
Upper Case: PRAGATHI AND KAVYA LIKE TO WATCH MOVIES.
Lower Case: pragathi and kavya like to watch movies.
Title Case: Pragathi And Kavya Like To Watch Movies.
Swap Case: pRAGATHI AND kAVYA LIKE TO WATCH MOVIES.
Is Upper Case: False
Is Lower Case: False
Is Title Case: False
Is Numeric: False
Is Alphanumeric: False
Starts With 'Hello': False
Ends With 'World!': False
Count of 'l': 1
Index of 'o': 25
Replace 'Hello' with 'Hi': Pragathi and Kavya like to watch movies.
Split by ',': ['Pragathi and Kavya like to watch movies.']
Joined with '-': Pragathi-and-Kavya-like-to-watch-movies.

In [86]:
s = "She.is.very.pretty.so.he.likes.her"
print(s.split('.'))
print(" ".join(s.split('.')))

['She', 'is', 'very', 'pretty', 'so', 'he', 'likes', 'her']
She is very pretty so he likes her

In [87]:
def demonstrate_string_slicing(string):

    print("Slice [2:]:", string[2:])

    print("Slice [:4]:", string[:4])

    print("Slice [2:7]:", string[2:7])

    print("Slice [-2:]:", string[-2:])

    print("Slice [-5:-2]:", string[-5:-2])

    print("Slice [::2]:", string[::2])

    print("Reverse string:", string[2:6:-1])

# Test the function
demo_string = "Hello, World!"
demonstrate_string_slicing(demo_string)

Slice [2:]: llo, World!
Slice [:4]: Hell
Slice [2:7]: llo,
Slice [-2:]: d!
Slice [-5:-2]: orl
Slice [::2]: Hlo ol!
Reverse string:

In [88]:
s = "Madhav loves fish fry"

In [83]:
s[-1:-22:-1]

'yrf hsif sevol vahdaM'

In [84]:
s[::-1]

'yrf hsif sevol vahdaM'