<a href="https://colab.research.google.com/github/D-Sritha-D/AI_ML/blob/main/Operators_and_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# I/O Statements

print('Hello World!')
x = int(input("Enter a number: "))
print(x)

Hello World!
Enter a number: 8
8

In [ ]:
number = 10

float_number = 3.14

name = "John Doe"

is_true = True

fruits = ["apple", "banana", "orange", 8]

coordinates = (10, 20)

unique_numbers = {1, 2, 3, 4, 5}

student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}

empty_variable = None


print(type(number))
print(type(float_number))
print(type(name))
print(type(is_true))
print(type(fruits))
print(type(coordinates))
print(type(unique_numbers))
print(type(student))
print(type(empty_variable))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'NoneType'>

In [ ]:
# Relational operators
x = 10
y = 5
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x == y)
print(x != y)

True
False
True
False
False
True

In [ ]:
# Logical operators
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
# Arithmetic Operators
num1 = 10
num2 = 3
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# Bitwise Operators
num3 = 10
num4 = 6
print(num3 & num4)
print(num3 | num4)
print(num3 ^ num4)
print(num3 >> 1)
print(num4 << 2)

2
14
12
5
24

In [ ]:
# Assignment operators
x = 10
x += 5
x -= 3
x *= 2
x /= 4
x //= 2
x %= 2
x **= 3

print(x)

In [ ]:
# If statement
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

In [ ]:
# If-else statement
y = 3
if y % 2 == 0:
    print("y is an even number")
else:
    print("y is an odd number")

y is an odd number

In [ ]:
# Elif statement
z = 7
if z == 0:
    print("z is zero")
elif z > 0:
    print("z is a positive number")
else:
    print("z is a negative number")

z is a positive number

In [ ]:
# If-elif-else statement
grade = "B"
if grade == "A":
    print("Excellent!")
elif grade == "B":
    print("Good job!")
elif grade == "C":
    print("Fair enough.")
else:
    print("Try harder next time.")

Good job!

In [ ]:
# Switch-case equivalent using a dictionary
def switch_case(argument):
    switch = {
        1: "This is case 1",
        2: "This is case 2",
        3: "This is case 3",
        4: "This is case 4",
        5: "This is case 5"
    }
    return switch.get(argument, "Invalid case")

case = 3
print(switch_case(case))

This is case 3

In [ ]:
# Example 2: Iterate through a range
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
# Example 1: Simple while loop
count = 0
while count < 5:
    print(count)
    count += 1

# # Example 2: Using while loop with user input
# while True:
#     user_input = input("Enter 'quit' to exit: ")
#     if user_input.lower() == 'quit':
#         break
#     else:
#         print("You entered:", user_input)

0
1
2
3
4

In [ ]:
# Sum of first N natural numbers
n = int(input("Enter a number: "))
sum = 0
for i in range(n+1):
  sum += i
print(sum)

Enter a number: 8
36

In [ ]:
# Perfect Square
'''
6 --> 1, 2, 3, 6
8 --> 1,2,4,8
9 --> 1,3,9
16 --> 1,2,4,8,16
'''

n = int(input("Enter a number: "))
factors = 0
for i in range(1, n+1):
  if n%i == 0:
    factors += 1

if factors%2 == 0:
  print("Not a perfect square")
else:
  print("Perfect Square")

Enter a number: 30
Not a perfect square

In [ ]:
# Print prime numbers within a given range
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
for i in range(a, b+1):
  factors = 0
  for j in range(1,i+1):
    if i%j == 0:
      factors += 1
  if factors <= 2:
    print(j)

In [ ]:
# Factorial of a number
n = int(input("Enter a number: "))
factorial = 1
for i in range(1,n+1):
  factorial *= i
print(factorial)

Enter a number: 5
120

In [2]:
# Armstrong number
n = int(input("enter a number: "))
copy = n
sum = 0
while n>0:
  digit = n%10
  cube = digit ** 3
  n = n // 10
  sum += cube

if sum == copy:
  print("Armstrong Number")
else:
  print("Not an Armstrong Number")

enter a number: 153
Armstrong Number